.displaytweet{
    margin: auto;
    width: 45%;
    min-height: 100px;
    font-size:20px;
    display:flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: #dedede;
}
.displaytweet:hover{
    background-color: #fafafa;
}
.profilelogo {
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.profilepic{
    margin-top:2%;
    width:10%;
    height:100%;
}
.tweet-show{
    display:flex;
    flex-direction: column;
    width:90%;
}
.tweet-top{
    width: 100%;
    margin-top:1%;
    display:flex;
    flex-direction: row;
    height:30%;
}
.profilename{
    font-size: 15px;
    font-weight: bold;
    padding-right:2%;
}
.username{
    color:#888888;
    font-size: 15px;
    padding-right:2%;
}
.timespan{
    color:#888888;
    font-size: 15px;
    padding-left:2%;
}
.span{
    background-color: #888888;
    width:3px;
    height:3px;
    border-radius:12px;
    cursor:pointer;
}
.menu{
    background-color: #888888;
    width:3px;
    height:3px;
    border-radius:12px;
    margin:2%;
}
.message{
    margin-top:1%;
    font-size: 15px;
    margin-right:2%;
}
.media-container{
    width:100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

.img_wrp {
    display: inline-block;
    position: relative;
}

.tweet-media{
    width: 100%;
    height: 100%;
    margin-right:5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    margin-left: 1%;
    cursor: pointer;
    object-fit:cover;
}
.tweet-top-left{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: left;
    height:100%;
    padding-left: 1%;
}
.tweet-top-right{
    width:20%;
    display:flex;
    align-items:center;
    justify-content: right;
    height:100%;
    cursor: pointer;
    margin-right: 2%;
}
#tweet-bottom-icon{
    width:20px;
    height:20px;
    cursor:pointer;
}
.bottom-icon{
    display:flex;
    flex-direction:row;
    color:#888888;
    font-size:15px;
    gap:10px;
}
.tweet-bottom{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    height:30%;
    margin-top:2%;
    margin-bottom: 2%;
    gap:20%;
    margin-left:1%;
}
.tweet-content{
    padding-left:1%;
}
.changereplybutton{
    content:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxNzIgMTcyIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMi4zODQsMTIuMzg0KSBzY2FsZSgwLjg1NiwwLjg1NikiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWRhc2hhcnJheT0iIiBzdHJva2UtZGFzaG9mZnNldD0iMCIgZm9udC1mYW1pbHk9Im5vbmUiIGZvbnQtd2VpZ2h0PSJub25lIiBmb250LXNpemU9Im5vbmUiIHRleHQtYW5jaG9yPSJub25lIiBzdHlsZT0ibWl4LWJsZW5kLW1vZGU6IG5vcm1hbCI+PGcgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSIjMDBhY2VlIiBzdHJva2Utd2lkdGg9IjI5IiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTY1LjEyLDgyLjU2YzAsMzcuOTM0MDYgLTM1LjQ4ODQ0LDY4LjggLTc5LjEyLDY4LjhjLTYuNTcwOTQsMCAtMTMuMDg4MTIsLTAuNjk4NzUgLTE5LjM5MDMxLC0yLjA4MjgxYy00LjE1MjE5LDQuMzk0MDYgLTE2Ljc4MzQ0LDE1Ljg0MjgxIC0zNS40NjE1NiwxNS44NDI4MWwtNi43OTkzOCwtMC4wMjY4N2wzLjgwMjgxLC01LjM4ODQ0YzcuMjI5MzcsLTEwLjI2NjI1IDkuMDU2ODcsLTE5LjA0MDk0IDkuNTEzNzUsLTIyLjY1NTYyYy0xOS4zMDk2OSwtMTIuOTgwNjMgLTMwLjc4NTMxLC0zMy4yMDQwNiAtMzAuNzg1MzEsLTU0LjQ4OTA2YzAsLTM3LjkzNDA2IDM1LjQ4ODQ0LC02OC44IDc5LjEyLC02OC44YzQzLjYzMTU2LDAgNzkuMTIsMzAuODY1OTQgNzkuMTIsNjguOHoiPjwvcGF0aD48L2c+PHBhdGggZD0iTTAsMTcydi0xNzJoMTcydjE3MnoiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIj48L3BhdGg+PGcgZmlsbD0iI2ZmZmZmZiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lam9pbj0ibWl0ZXIiPjxwYXRoIGQ9Ik04NiwxMy43NmMtNDMuNjMxNTYsMCAtNzkuMTIsMzAuODY1OTQgLTc5LjEyLDY4LjhjMCwyMS4yODUgMTEuNDc1NjMsNDEuNTA4NDQgMzAuNzg1MzEsNTQuNDg5MDZjLTAuNDU2ODgsMy42MTQ2OSAtMi4yODQzOCwxMi4zODkzNyAtOS41MTM3NSwyMi42NTU2MmwtMy44MDI4MSw1LjM4ODQ0bDYuNzk5MzgsMC4wMjY4N2MxOC42NzgxMiwwIDMxLjMwOTM3LC0xMS40NDg3NSAzNS40NjE1NiwtMTUuODQyODFjNi4zMDIxOSwxLjM4NDA2IDEyLjgxOTM4LDIuMDgyODEgMTkuMzkwMzEsMi4wODI4MWM0My42MzE1NiwwIDc5LjEyLC0zMC44NjU5NCA3OS4xMiwtNjguOGMwLC0zNy45MzQwNiAtMzUuNDg4NDQsLTY4LjggLTc5LjEyLC02OC44eiI+PC9wYXRoPjwvZz48cGF0aCBkPSIiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIj48L3BhdGg+PC9nPjwvZz48L3N2Zz4=");
}
.changeretweetbutton{
    content:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxNzIgMTcyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48cGF0aCBkPSJNMCwxNzJ2LTE3MmgxNzJ2MTcyeiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxnIGZpbGw9IiMwMGFjZWUiPjxwYXRoIGQ9Ik0yOC42NjY2NywzNS44MzMzM2wtMjguNjY2NjcsMzUuODMzMzNoMjEuNXY0M2MwLDExLjg1MzY3IDkuNjQ2MzMsMjEuNSAyMS41LDIxLjVoODMuMTMwNTNsLTExLjQ2Mzg2LC0xNC4zMzMzM2gtNzEuNjY2NjdjLTMuOTQ4ODMsMCAtNy4xNjY2NywtMy4yMTA2NyAtNy4xNjY2NywtNy4xNjY2N3YtNDNoMjEuNXpNNDUuODY5NDcsMzUuODMzMzNsMTEuNDYzODcsMTQuMzMzMzNoNzEuNjY2NjdjMy45NDg4MywwIDcuMTY2NjcsMy4yMTA2NyA3LjE2NjY3LDcuMTY2Njd2NDNoLTIxLjVsMjguNjY2NjcsMzUuODMzMzNsMjguNjY2NjcsLTM1LjgzMzMzaC0yMS41di00M2MwLC0xMS44NTM2NyAtOS42NDYzMywtMjEuNSAtMjEuNSwtMjEuNXoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==");
}
.changelikesbutton{
    content:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxNzIgMTcyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0iYnV0dCIgc3Ryb2tlLWxpbmVqb2luPSJtaXRlciIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtZGFzaGFycmF5PSIiIHN0cm9rZS1kYXNob2Zmc2V0PSIwIiBmb250LWZhbWlseT0ibm9uZSIgZm9udC13ZWlnaHQ9Im5vbmUiIGZvbnQtc2l6ZT0ibm9uZSIgdGV4dC1hbmNob3I9Im5vbmUiIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTogbm9ybWFsIj48cGF0aCBkPSJNMCwxNzJ2LTE3MmgxNzJ2MTcyeiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxnIGZpbGw9IiMwMGFjZWUiPjxwYXRoIGQ9Ik01My43NSwyNS42MzQ2MmMtMTEuNDIxODcsMCAtMjEuODEwMSwzLjk1MzcyIC0yOS4xNDkwNCwxMS4xNjM0NmMtNy4zMzg5NCw3LjIwOTc0IC0xMS4zNzAxOSwxNy41MjA0NCAtMTEuMzcwMTksMjkuMzU1NzdjMCwyMC4wMjcwNCAxMi4yNzQ2NCwzNC45NjMzNCAyNi4yNTQ4MSw0Ny41NDgwOGMxMy45ODAxNywxMi41ODQ3NCAzMC4yODYwNiwyMy43MjIzNiA0MS4zNDYxNSwzNi43OTgwOGMxLjIxNDU0LDEuNTI0NjQgMy4wMjM0NCwyLjQyOTA5IDQuOTYxNTQsMi40ODA3N2gwLjQxMzQ2YzEuOTM4MSwtMC4wNTE2OCAzLjc0Njk5LC0wLjk1NjEzIDQuOTYxNTQsLTIuNDgwNzdjMTEuMDYwMSwtMTMuMDc1NzIgMjcuMzY1OTksLTI0LjIxMzM0IDQxLjM0NjE1LC0zNi43OTgwOGMxMy45ODAxNywtMTIuNTg0NzQgMjYuMjU0ODEsLTI3LjUyMTAzIDI2LjI1NDgxLC00Ny41NDgwOGMwLC0xMS44MzUzMyAtNC4yMzc5OCwtMjIuMTQ2MDMgLTExLjU3NjkyLC0yOS4zNTU3N2MtNy4zMzg5NCwtNy4yMDk3NCAtMTcuNTIwNDMsLTExLjE2MzQ2IC0yOC45NDIzMSwtMTEuMTYzNDZjLTExLjMxODUxLDAgLTIwLjU5NTU1LDYuMTc2MDggLTI3LjA4MTczLDExLjc4MzY1Yy0zLjE3ODQ5LDIuNzM5MTkgLTMuMzMzNTMsMy40ODg1OCAtNS4xNjgyNyw1LjU4MTczYy0xLjgwODg5LC0yLjA5MzE1IC0xLjk4OTc4LC0yLjg0MjU0IC01LjE2ODI3LC01LjU4MTczYy02LjQ2MDMzLC01LjYwNzU3IC0xNS43NjMyMiwtMTEuNzgzNjUgLTI3LjA4MTczLC0xMS43ODM2NXpNNTMuNzUsMzguODY1MzhjNi4yMjc3NiwwIDEzLjE3OTA5LDQuMTYwNDYgMTguMzk5MDQsOC42ODI2OWM1LjIxOTk2LDQuNTIyMjQgOC40NzU5Niw4Ljg4OTQyIDguNDc1OTYsOC44ODk0MmMxLjI0MDM4LDEuNzMxMzcgMy4yNTYwMSwyLjc2NTAzIDUuMzc1LDIuNzY1MDNjMi4xMTg5OSwwIDQuMTM0NjIsLTEuMDMzNjUgNS4zNzUsLTIuNzY1MDNjMCwwIDMuMjMwMTcsLTQuMzY3MTkgOC40NzU5NiwtOC44ODk0MmM1LjI0NTc5LC00LjUyMjI0IDEyLjE0NTQ0LC04LjY4MjY5IDE4LjM5OTA0LC04LjY4MjY5YzguNTAxOCwwIDE1LjE5NDcxLDIuODk0MjMgMTkuODQ2MTUsNy40NDIzMWM0LjY1MTQ0LDQuNTQ4MDggNy40NDIzMSwxMC45ODI1NyA3LjQ0MjMxLDE5Ljg0NjE1YzAsMTQuNjUyMDQgLTguODYzNTgsMjUuODY3MTkgLTIxLjkxMzQ2LDM3LjYyNWMtMTEuNTUxMDgsMTAuNDE0MDYgLTI1LjY2MDQ2LDIxLjA4NjU0IC0zNy42MjUsMzMuNjk3MTJjLTExLjk5MDM4LC0xMi42NjIyNiAtMjYuMDQ4MDgsLTIzLjI4MzA1IC0zNy42MjUsLTMzLjY5NzEyYy0xMy4wNDk4OCwtMTEuNzU3ODEgLTIxLjkxMzQ2LC0yMi45NzI5NiAtMjEuOTEzNDYsLTM3LjYyNWMwLC04Ljg2MzU4IDIuNzkwODcsLTE1LjI5ODA4IDcuNDQyMzEsLTE5Ljg0NjE1YzQuNjUxNDQsLTQuNTQ4MDggMTEuMzE4NTEsLTcuNDQyMzEgMTkuODQ2MTUsLTcuNDQyMzF6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=");
}
@media screen and (max-width: 1005px) {
    .newtweet { width: 75%;}
    .home{
        width:75%;
    }
    .displaytweet{width:75%;}
    
}

@media screen and (max-width: 500px) {
    .newtweet { width: 100%;}
    .home{
        width:100%;
    }
    .displaytweet{width:100%;}
    .profilelogo {
        width: 40px;
        height: 40px;
    }
    .message{
        font-size:14px;
    }
}