<div >

    
    <div class="row margin">
       <div class="col-1" style="margin-right: 10px;">
         <img src = "https://www.nicepng.com/png/full/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt ="pic" width = 50px height="50px">
       </div>
       <div class="col-10">
        <p class="fontsize"><b>username </b> <span class="text">@username . 10h</span> </p><br>
        <p style="margin-top: -25px; font-size: 18px;" class="text">Sample Text displayed here.</p>
        <p style="color: #00acee; font-size: 18px;"> @BCCI<br>
         @IPL_2022<br>
         @TeamInd</p>

         <div class="flex">
          <i class="fa fa-comment-o col-3" aria-hidden="true">  </i>
          <i class="fa fa-retweet col-3" aria-hidden="true"> </i>
          <i class="fa fa-heart-o col-3" aria-hidden="true"> <span> 9 </span> </i>
          <i class="fa fa-upload col-3" aria-hidden="true">  </i>
         </div>
          
        
       </div> 
    </div>

    

    
</div>