<div class="page d-flex container-fluid align-self-stretch  justify-content-center">
    <div class="col-xxl-2 col-xl-2 col-lg-1 col-md-2 d-flex justify-content-end col-sm-1 d-xxl-block d-md-block d-lg-block d-xl-block d-sm-block d-none">
    </div>
    <app-notification-nav class="col-xl-5 col-xxl-5 col-lg-6 col-md-9 col-sm-9 col-11 border-right m-4  mt-0">
    </app-notification-nav>
    <app-whats-happening class="container col-lg-4 d-xxl-block d-md-none d-lg-block d-xl-block d-none ">
    </app-whats-happening>
</div>
