<!-- <div>
    <div>
        <app-notification-nav></app-notification-nav>
    </div>
    <app-whats-happening></app-whats-happening>
</div> -->

<div class="page d-flex container-fluid align-self-stretch  justify-content-center">
    <app-notification-nav class="col-xl-6 col-xxl-6 col-lg-6 col-md-8 col-sm-8 col-12 border-right m-4  mt-0">
    </app-notification-nav>
    <app-whats-happening class="wh-margin col-md-4 d-xxl-block d-md-none d-lg-block d-xl-block d-none ">
    </app-whats-happening>

</div>
