<div>
    <app-side-nav class="col-md-1  col-sm-2 d-xxl-block d-md-block d-lg-block d-xl-block d-sm-block d-none ">
    </app-side-nav>

</div>

<div class="page d-flex container-fluid align-self-stretch  justify-content-center">
    <div
        class="col-xxl-2 col-xl-2 col-lg-1 col-md-1 d-flex justify-content-end col-sm-1 d-xxl-block d-md-block d-lg-block d-xl-block d-sm-block d-none">
    </div>
    <div class="container col-xl-6 col-xxl-6 col-lg-6 col-md-7 col-sm-9 col-11 border-right mt-0">
        <app-explore-nav></app-explore-nav>
    </div>
    <app-right-nav class="container col-lg-4 d-xxl-block d-md-none d-lg-block d-xl-block d-none ">
    </app-right-nav>

</div>