<div class="container mt-3 ">
    <div class="explore-nav">
        <div class="search sticky-top">
            <form>
                <div class="input-group">
                    <span class="input-group-text search-icon"> <i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control search-bar" placeholder="Search Twitter"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>
        </div>
        <div class="icon">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
    </div>
    <div class="sections mt-4">
        <div>
            <a class="nav-link" aria-current="page"><span>For you</span></a>
        </div>
        <div>
            <a class="nav-link"><span>covid-19</span></a>
        </div>
        <div>
            <a class="nav-link"><span>Trending</span></a>
        </div>
        <div>
            <a class="nav-link"><span>News</span></a>
        </div>
        <div>
            <a class="nav-link"><span>Sports</span></a>
        </div>
        <div>
            <a class="nav-link"><span>Entertainment</span></a>
        </div>
    </div>
</div>