<div class="container">
    <div class="row">
        <div class="col-md-5 messagebox d-md-block" [class.d-none]="paramId">
            <app-msgnavbar></app-msgnavbar>
            <app-msgsearchbar></app-msgsearchbar>
            <div *ngFor="let j of chats">
                <app-chats (click)="chatBoxNavigate()"></app-chats>
            </div>
        </div>
        <div class="col-md-7 d-md-block d-none" [class.d-none]="!paramId">
            <router-outlet (activate)="getActivatedId($event)"></router-outlet>
        </div>
    </div>
</div>