.profilelogo {
    width: 50px;
    height: 50px;
}
.home{
    padding-top:1%;
    margin:auto;
    width: 45%;
    text-align:left;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    background: rgb(255, 255, 255,0.9);
}
#toptweets{
    padding-top:1%;
    width:4%;
    height: 4%;
}
.newtweet {
    margin: auto;
    width: 45%;
    min-height: 100px;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: #dedede;
}

.textinput {
    display: flex;
    align-items: center;
}

.textinput input[type=text] {
    display: inline;
    border: none;
    background-color: none;
    outline: 0;
    font-size: 20px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
}

.info {
    font-size: medium;
    font-weight: 500;
    color: #00acee;
    padding-left: 60px;
    padding-bottom: 20px;
}

.submit {
    display: inline;
    margin-left: 50px;
    margin-bottom: 2%;
}

.submit .icon{
    font-size: 20px;
    font-weight: 500;
    color: #00acee;
    padding: 10px;
}

.tweet {
    float: right;
    background-color: #00acee;
    padding: 10px 25px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
}
  
@media screen and (max-width: 1005px) {
    .newtweet { width: 75%;}
    .home{
        width:75%;
    }
    .displaytweet{width:75%;}
}

@media screen and (max-width: 500px) {
    .newtweet { width: 100%;}
    .home{
        width:100%;
    }
    .displaytweet{width:100%;}
}