$hoverColor : #ededed;
$twitterColor : #00acee;


.flex{
    display: flex;
}

.headerText {
    font-size: x-large;
    font-weight: 600;
    margin-left: 20px;
}

.icon {
    text-align: center;
}

li {
    font-size: x-large;
}

li a{
    color: black;
}

.margin {
    padding: 25px;
    // border: 1px solid lightblue;
}

li .nav-item a:hover{
background-color: gray;
}

.color{
    padding: 15px;
}

.color:hover{
    background-color:$hoverColor;
}

.classStatus {
    border-bottom-color:$twitterColor;
    border-bottom-style: solid;
    border-bottom-width: 5px;

}

.classMention {
    border-bottom-color:$twitterColor;
    border-bottom-style: solid;
    border-bottom-width: 5px;

}

