<div class="container-fluid d-sm-none d-none d-md-block">
    <div class="row">
        <div class="col-7">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648204265/landing-img_ikbwv0.png" class="img-fluid img-twitter" srcset="">
        </div>
        <div class="col-5">
            <div class="icon-div">
                <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648205885/twitter_ykbgdx.png" class="img-fluid twitter-icon" srcset="">
            </div>
            <div class="title-subtitle">
                <div class="title">
                    <h1 class="title-font">Happening now</h1>
                </div>
                <div class="sub-title">
                    <h1 class="sub-title-font">Join Twitter today.</h1>
                </div>
            </div>
            <div class="apple-google">
                <div class="google">
                    <button type="button" class="btn btn-google"> 
                       <span><img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210313/google_sufvx8.png" class="img-fluid btn-img" srcset=""></span> Sign up with Google
                    </button>
                </div>
                <div class="apple">
                    <button type="button" class="btn btn-apple"><span><img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210515/apple_drckhf.png" class="img-fluid btn-img" srcset=""></span> Sign up with Apple</button>
                </div>
                <div class="or">
                    <p>or</p>
                    </div>
                <div class="blue-btn">
                    <button type="button" class="btn btn-blue"> Sign up with Phone or Email</button>
            </div>

            <p class="tc">By signing up, you agree to the Terms of Service and Privacy</p>
            <p class="tc">Policy, including Cookie Use.</p>
        </div>

        <div class="already-div">
            <div><h2 class="already-font">Already have an account?</h2></div>

            <div class="sign-btn">
                <button type="button" routerLink="/username"class="btn btn-sign"> Sign in</button>
            </div>
        </div>
        

        </div>
    </div>
</div>

<div class="container-fluid d-md-none d-sm-block  d-block">
   <div class="row">
       <div class="col-12">
        <div class="icon-div-sm">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648205885/twitter_ykbgdx.png"
                class="img-fluid twitter-icon" srcset="">
        </div>
        <div class="title-subtitle">
            <div class="title-sm">
                <h1 class="title-font-sm">Happening now</h1>
            </div>
            <div class="sub-title-sm">
                <h1 class="sub-title-font-sm">Join Twitter today.</h1>
            </div>
        </div>
        <div class="apple-google">
            <div class="google">
                <button type="button" class="btn btn-google">
                    <span><img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210313/google_sufvx8.png"
                            class="img-fluid btn-img" srcset=""></span> Sign up with Google
                </button>
            </div>
            <div class="apple">
                <button type="button" class="btn btn-apple"><span><img
                            src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210515/apple_drckhf.png"
                            class="img-fluid btn-img" srcset=""></span> Sign up with Apple</button>
            </div>
            <div class="or">
                <p>or</p>
            </div>
            <div class="blue-btn">
                <button type="button" class="btn btn-blue"> Sign up with Phone or Email</button>
            </div>
        
            <p class="tc">By signing up, you agree to the Terms of Service and Privacy</p>
            <p class="tc">Policy, including Cookie Use.</p>
        </div>
        
        <div class="already-div-sm">
            <div>
                <h2 class="already-font">Already have an account?</h2>
            </div>
        
            <div class="sign-btn">
                <button type="button" routerLink="/username" class="btn btn-sign"> Sign in</button>
            </div>
        </div>
       </div>
   </div>
   <div class="row">
    <div class="col-12 zero-pad">
        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648204265/landing-img_ikbwv0.png" class="img-fluid" srcset="">
    </div>
   </div>
</div>
