//Font Faces
@font-face {
    font-family: Chirp;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648210076/chirp-bold-web_puxmod.woff');
}
@font-face {
    font-family: Apple;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648211001/WarowniaBlk_v30r3x.otf');
}
@font-face {
    font-family: Google;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648209669/product-sans-regular_thl5iu.ttf');
}


//General
html, body {
    margin: 0;
    padding: 0;
}


//col-7
.img-twitter{
    height: 757px;
    margin-left: -12px;
}

//col-5
//Twitter Icon Div
.twitter-icon{
    width: 48px;
    height: 48px;
}

.icon-div{
    padding:1.6rem;
}

//Title-Subtitle
//Title
.title{
    padding:1.6rem;
    padding-top: 3.5rem;
    
}

.title-font{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 4rem;
}

//Subtitle
.sub-title{
    padding:1.6rem;
}

.sub-title-font{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 2.5rem;
}

.apple-google{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.apple,.google{
    padding: .5rem;
}

.blue-btn{
    padding: .5rem;
    padding-top: 0rem;
}

.btn{
    border-radius: 20px;
    border: rgb(194, 194, 194) 1px solid;
}

.btn-google{
    font-family: Google;
    padding: .3rem 3.3rem .3rem 3.3rem;
}

.btn-apple{
    font-family: Apple;
    padding: .3rem 3.4rem .3rem 3.4rem;
}

.btn-apple:hover,.btn-google:hover{
    background-color: #E6E6E6;
}

.btn-img{
    width: 18px;
    height: 18px;
    margin-bottom: 4.5px;
    margin-right: 5px;
}

.or{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
}

.btn-blue{
    font-family: Chirp;
    border: none;
    padding: .3rem 1.85rem .3rem 1.85rem;
    background-color: #03a9f4;
    color: white;
}

.btn-blue:hover{
    background-color: #017eb8;
}

.tc{
    font-size: 10px;
    padding: 0;
    margin: 0;
    line-height: 12px;
}

.already-div{
    padding:1.6rem;
    padding-top: 3rem;
}

.already-font{
    font-family: Chirp;
}

.btn-sign{
    font-family: Chirp;
    border: none;
    padding: .3rem 7rem .3rem 7rem;
    background-color: white;
    border: #03a9f4 solid 1px;
    color: #03a9f4;
}

.btn-sign:hover{
     background-color: #b3e4fa;
}