<div class="container mt-2">
    <div class="profile">
        <div class="back">
            <i (click)="backNavigate()" class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <img src="https://www.nicepng.com/png/full/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png"
            alt="">
        <div class="contents">
            <div class="names">
                <p>Lilly</p>
                <p>@Lilly</p>
            </div>
            <div class="menu">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>