<div class="container-fluid m-3">
    <div class="who-to-follow mt-4">
        <div class="outer-group list-group">
            <li class="list-group-item wh-header">Who To Follow</li>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1282261059294818306/huA7biUe_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <a href="" class="profile-name">VijaySethupathi</a> <span class=""><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span>
                            <p class="profile-subname">@VijaySethuOffl</p>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1354379504920256513/4Ox0Xqft_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <a href="" class="profile-name">Nothing</a> <span class=""> <img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span>
                            <p class="profile-subname">@Nothing</p>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1484730156765876231/9zL4dTcr_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <a href="" class="profile-name">Carl Pei</a> <span class=""> <img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span>
                            <p class="profile-subname">@getpeid</p>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1283958620359516160/p7zz5dxZ_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <a href="" class="profile-name">Apple</a> <span class=""> <img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span>
                            <p class="profile-subname">@Apple</p>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>




            </div>
        </div>
    </div>


</div>

