<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center login-container ">
        <div class="">
        <div class="card  spacer text-center">
            
                <div class="card-header">
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648382612/close_cs7loc.png" class="img-fluid close-icon">
                       <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648205885/twitter_ykbgdx.png"
                            class="img-fluid twitter-icon" srcset="">
                  
                </div>
                <div class="card-body">
                    <div class="title">
                        <h1 class="title-font">Sign in to Twitter</h1>
                    </div>
                    <div  class="p-2">
                        <button type="button" class="btn btn-google">
                            <span><img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210313/google_sufvx8.png"
                                    class="img-fluid btn-img" srcset=""></span> Sign up with Google
                        </button>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-apple"><span><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648210515/apple_drckhf.png"
                                    class="img-fluid btn-img" srcset=""></span> Sign up with Apple</button>
                    </div>
                    <div class="p-1">
                        <p class="or"> or </p>
                    </div>
                    <div class="theform p-2 pt-0">
                        <form>
                            <input type="text" class="form-control pt-3 pb-3" placeholder="Phone, email, or username">
                        </form>
                    </div>
                    <div class="p-2 pt-3">
                        <button type="button" class="btn btn-next">Next</button>
                    </div>
                    <div class="p-2">
                        <button type="button" class="btn btn-fp">Forgot Password?</button>
                    </div>

                    <div class="p-2 pt-4">
                        <h3 class="chrip">Don't have an account? <a href="">Signup</a> </h3>
                    </div>

                </div>
            </div>
            
            
        </div>
    </div>
</div>
