.search-icon {
  border-radius: 20px;
  padding: 0.7rem;
  color: #1a8cd8;
  background-color: #f3f3f3;
  border: none;
}

.search-bar:focus::placeholder {
  color: #1a8cd8;
}

.search-bar {
  background-color: #f3f3f3;
  border: none;
  padding: 0.7rem;
  border-radius: 20px;
}

.input-group:focus-within {
  border: 0.5px solid #1a8cd8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar:focus {
  color: #1a8cd8;
  box-shadow: none;
  background-color: #f3f3f3;
}

.wh-items {
  border: none;
  background-color: #f3f3f3;
  padding: 1.2rem;
}

.wf-items {
  border: none;
  background-color: #f3f3f3;
  padding: 1rem;
}

.wf-items:hover {
  background-color: #d8d8d8;
}
.wh-items:hover {
  background-color: #d8d8d8;
}

.wh-image {
  height: 70px;
  border-radius: 10px;
}

.wh-p {
  font-weight: 600;
}

.wh-link {
  color: #1a8cd8;
}

.wh-header {
  border: none;
  background-color: #f3f3f3;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.outer-group {
  border-radius: 15px;
}

.profile {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.wf-spacing {
  margin: -3px;
  padding: -3px;
}

.profile-name {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}

.profile-name:hover {
  text-decoration: underline;
}

.profile-subname {
  font-size: 0.8rem;
}

.tick {
  width: 16px;
  height: 16px;
  margin-left: 2px;
}

.follow-btn {
  border-radius: 20px;
  margin-top: 11px;
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 18px;
  padding-left: 18px;
}
.follow-btn:hover {
  background-color: rgb(59, 59, 59);
}
