<div class="container-fluid m-3">
    <div class="search mb-5">
        <form>
            <div class="input-group">
                <span class="input-group-text search-icon"> <i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control search-bar" placeholder="Search Twitter" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </form>
    </div>
    <div class="happening">
        <div class="outer-group list-group">
            <li class="list-group-item wh-header">What's Happening</li>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-9">
                            <small>War in Ukraine · War</small>
                            <p class="wh-p">War in Ukraine continues as Russia strikes besieged city of Mariupol</p>
                        </div>
                        <div class="col-3">
                            <img  src="https://pbs.twimg.com/semantic_core_img/1506592811986026500/wsJv_tHK?format=jpg&name=900x900" class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-9">
                            <small>Entertainment · Trending</small>
                            <p class="wh-p">#RRRMovieOnMarch25th</p>
                        </div>
                        <div class="col-3">
                            <img src="" class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                    <div class="col-9">
                        <small>Sports · Trending</small>
                        <p class="wh-p">#CSK</p>
                    </div>
                    <div class="col-3">
                        <img src="https://pbs.twimg.com/profile_images/1474945699988979715/nuj9cPxC_400x400.jpg" class="img-fluid wh-image">
                    </div>
                </div></a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                    <div class="col-9">
                        <small>1 · Trending</small>
                        <p class="wh-p">#ShaheedDiwas</p>
                    </div>
                    <div class="col-3">
                        <img src="https://pbs.twimg.com/media/FOgHXJSUYAMdf-O?format=jpg&name=small" class="img-fluid wh-image">
                    </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-9">
                            <small>Trending in India</small>
                            <p class="wh-p">Zomato</p>
                        </div>
                        <div class="col-3">
                            <img src="" class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <a href="" class="wh-link">Show More</a>
                </a>
            </div>
        </div>
        
    </div>
    
</div>
