<div >
  
    
    <div class="row margin">
      
       <div class="col-lg-1 col-md-1 col-2">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
       </div>
       <div class="col-lg-11 col-md-11 col-10">
        <img src = "https://www.nicepng.com/png/full/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt ="pic" width = 50px height="50px"><br><br>
        <p class="fontsize"><b>Lilly R</b> <span class="text"> followed you.  </span></p>
       </div> 
    </div>

    <app-notification-mention></app-notification-mention>

    <div class="row margin">
      <div class="col-lg-1 col-md-1 col-2" >
       <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-11 col-md-11 col-10" >
       <p class="fontsize text">There was a login to your account @Lilly_07_ from a new device on Mar 23, 2022. Review it now.</p>
      </div> 
   </div>

      

      <div class="row margin">
         <div class="col-lg-1 col-md-1 col-2" >
         <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
         </div>
         <div class="col-lg-11 col-md-11 col-10" >
         <img src = "https://www.nicepng.com/png/full/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt ="pic" width = 50px height="50px"> 
          <p class="fontsize text">
            <p class="fontsize"><b>Kavya_01</b>  liked a Tweet you were mentioned in</p><br>
            <p style="margin-top: -25px; font-size: 18px;" class="text">Sample Text displayed here.</p>
            <p style=" font-size: 18px;"> @BCCI<br>
             @IPL_2022<br>
             @TeamInd</p>
          
         </div> 
      </div>

    
</div>