$hoverColor : #ededed;
$twitterColor : #00acee;


.fontsize {
    font-size: 15px;
}

.margin {
    padding: 15px;
}

.fa-user , .fa-twitter {
    color: $twitterColor;
  }

  .fa-heart {
      color: #f7206b;
  }

.row:hover{
    background-color:$hoverColor;
 }

 .text {
     color: gray;
 }

 img {
    border-radius: 50%;
 }