<div >

    
    <div class="row margin">
       <div class="col-2">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
       </div>
       <div class="col-8 space">
        <img src = "https://www.nicepng.com/png/full/182-1829287_cammy-lin-ux-designer-circle-picture-profile-girl.png" alt ="pic" width = 50px height="50px"><br><br>
        <p class="fontsize"><b>Lilly R</b> <span class="text">  followed you.  </span></p>
       </div> 
    </div>

    <div class="row margin">
        <div class="col-2" >
         <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-8 space" >
         <p class="fontsize text">There was a login to your account @Lilly_07_ from a new device on Mar 23, 2022. Review it now.</p>
        </div> 
     </div>

    
</div>