$hoverColor : #ededed;
$twitterColor : #00acee;


.fontsize {
    font-size: 15px;
}

.margin {
    padding: 15px;
}

.fa-user , .fa-twitter {
    color: $twitterColor;
  }

.row:hover{
    background-color:$hoverColor;
 }

 .text {
     color: gray;
 }

 @media screen and (max-width: 500px){
     .space{
        margin-left: 10px;
        // margin-right: 0px;
        // padding: 0px;
     }
 }