<div style="margin: 20px;">


   <div class="row margin">

      <div class="col-lg-2 col-md-2 col-2 extra-icon">
         <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image">
         <img class="img-circle" src="https://pbs.twimg.com/profile_images/730141385869811712/tRPEtG7f_400x400.jpg"
            alt="pic" width=50px height="50px"><br><br>
         <p class="fontsize"><b>Sheldon Cooper</b> <span class="text"> followed you. </span></p>
      </div>
   </div>

   <div class="row margin">
      <div class="col-lg-2 col-md-2 col-2 extra-icon">
         <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image">
         <p class="fontsize text">There was a login to your account @Lilly_07_ from a new device on Mar 23, 2022. Review
            it now.</p>
      </div>
   </div>

   <div class="row margin">
      <div class="col-lg-2 col-md-2 col-2 extra-icon">
         <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image">
         <img
            src="https://e7.pngegg.com/pngimages/240/676/png-clipart-ross-geller-david-schwimmer-friends-chandler-bing-joey-tribbiani-friends-love-television-thumbnail.png"
            class="img-circle" alt="pic" width=50px height="50px">
         <p class="fontsize text">
         <p class="fontsize"><b>ross_geller</b> liked a Tweet you were mentioned in</p><br>
         <p style="margin-top: -25px; font-size: 15px;" class="text">Former President Donald Trump has withdrawn his
            endorsement of Mo Brooks for the US Senate seat in Alabama after Brooks declined to affirm Trump's false
            belief that the 2020 election result can be overturned.</p>
         <p style=" font-size: 15px;"> @Lilly_01_<br>
            @president<br>
            @USA</p>

      </div>
   </div>



   <app-notification-mention></app-notification-mention>








</div>